/* Broadway Cascade Styles Sheet
created by: Emilio Nosthas */

/* Generic Styles */
body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

div#home a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

div#about h2 {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

div p {
  font-size: 14px;
}

div#home, div#about{
  background-image: url("../images/the-flatiron-building.png");
}

div#footer {
  background-color: dimgray;
  text-align: left;
}

div#footer span {
  color: white;
  font-size: 11px;
}

div#footer a {
  color: white;
}
